.service {
  &__item {
    margin-top: 45px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    padding-top: 15px;
    padding-left: 15px;
    color: #1c1c27;
  }
  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin-top: 15px;
    color: #000000;
    padding: 0 22px 68px 22px;
  }
  a{
      display: none;
  }
}

@media (max-width: 640px){
    .service {
 
  a{
      margin-top: 34px;
      display: block;
  }
}
}

